.nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px 40px 50px 40px;
  height: 100%;
  box-sizing: border-box;
  .body{
    display: flex;
    gap: 10px;
    flex-direction: column;
    .linkContainer{
      perspective: 120px;
      perspective-origin: bottom;
    }
    a{
      text-decoration: none;
      color: black;
      font-size: 46px;
      position: relative;
      display: inline-block;
      transition: transform .25s cubic-bezier(0.76, 0, 0.24, 1), color .25s cubic-bezier(0.76, 0, 0.24, 1);
      will-change: transform, color;
      
      &::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: -6px;
        height: 2px;
        width: 0;
        background: #111317;
        transition: width .25s cubic-bezier(0.76, 0, 0.24, 1), background .25s cubic-bezier(0.76, 0, 0.24, 1);
        transform-origin: 0 50%;
      }
      
      &:hover{
        transform: translateY(-2px);
        color: #0ea5e9;
      }
      &:hover::after{
        width: 100%;
        background: #0ea5e9;
      }
    }
  }
  .footer{
    display: flex;
    flex-wrap: wrap;
    a{
      width: 50%;
      margin-top: 5px;
      position: relative;
      display: inline-block;
      transition: transform .25s cubic-bezier(0.76, 0, 0.24, 1), color .25s cubic-bezier(0.76, 0, 0.24, 1);
      will-change: transform, color;

      &::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: -4px;
        height: 2px;
        width: 0;
        background: #111317;
        transition: width .25s cubic-bezier(0.76, 0, 0.24, 1), background .25s cubic-bezier(0.76, 0, 0.24, 1);
        transform-origin: 0 50%;
      }

      &:hover{
        transform: translateY(-2px);
        color: #0ea5e9;
      }
      &:hover::after{
        width: 100%;
        background: #0ea5e9;
      }
    }
  }
}